# Configurações de Conexão SSH - Template
# Copie este arquivo para .env e preencha com suas credenciais

SSH_USER=seu_usuario
SSH_SERVER=seu_servidor_ssh
SSH_PASSWORD=sua_senha
LOCAL_PORT=5000
REMOTE_HOST=ip_do_host_remoto
REMOTE_PORT=80